.form {
  display: flex;
  flex-direction: column;
  gap: var(--edit-dialog-padding);
}

.message {
  margin: 0;
  text-align: center;
}

.actions {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 0.75rem;
}
